body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(../images/BingWallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 0px 10px -10px -20px rgba(0, 0, 0, 0.5);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}

.header {
  color: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.3vh;
  font-size: 13px;
  margin-top: -7px;
}

.header a {
  color: #E9E9E9;
  text-decoration: none;
}

#header-izq {
  display: flex;
  width: 50vw;
  margin-left: 15px;
  height: 100%;
  align-items: center;
  font-size: 12px;
  z-index: 1;
}

#header-der {
  margin-left: 15px;
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  z-index: 1;
}

#icondesp-izq {
  width: 25px;
  height: auto;
}

#header-logo {
  display: flex;
  margin-left: 170px;
  align-items: center;
  margin-right: 81px;
}

#micrologo {
  width: 30px;
  height: 30px;
  margin-right: 0;
}

#mbing {
  font-size: 18px;
}

.herr-der {
  margin-right: 40px;
}

.herr-izq {
  margin-left: 20px;
}

#iconconf-der {
  width: 27px;
  height: auto;
  margin-right: 220px;
  margin-left: 27px;
}

#iconreward-der {
  width: 25px;
  margin-left: 5px;
}

#iconuser-der {
  border-radius: 100%;
  margin-left: 5px;
}

.main {
  display: flex;
  height: 98.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  border: 0;
  height: 2.5vh;
  width: 26vw;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 15px;
}

#cont-buscador {
  margin-top: -320px;
  width: 32vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: white;
}

#cont-buscador img {
  width: 30px;
  height: auto;
}

.l-icon {
  margin: 10px;
}

.r-icon {
  margin: 5px;
}

.last-icon {
  margin-right: 5px;
}

.cont-cslide {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E7FEFF;
  width: 25vw;
  height: 23vh;
  border-radius: 7px;
}

.contbarras-cslide {
  background-color: black;
  display: flex;
  height: 50px;
  width: 20vw;
}

.barras-cslide {
  background-color: black;
  width: 30px;
  height: 5px;
  margin: 5px;
}

.cslide {
  display: flex;
  display: inline;
  align-items: center;
  background-color: blue;
  width: 30px;
  height: 5px;
}

.main-cont {
  display: flex;
  flex-direction: row;
  vertical-align: center;
}

.main-info {
  text-align: center;
  width: 20vw;
  font-size: 15px;
}

.flecha-der {
  display: flex;
  align-items: center;
  margin-right: -55px;
  font-size: xx-large;
}

.flecha-izq {
  display: flex;
  align-items: center;
  margin-left: -55px;
  font-size: xx-large;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: 0;
}
